@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "myriadpro", sans-serif;
}

.container {
  padding: 20px;
}

.header {
  background-image: url(/img/image\ \(14\).png);
  background-color: rgba(39, 52, 139, 0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__element:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  cursor: pointer;
}
.search__button {
  position: relative;
  margin-right: 20px;
  border: 1px solid #bebebe;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
}
.search__button:focus-within {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.search__icon {
  position: absolute;
  width: 20px;
  top: 25%;
  right: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.login__button {
  padding: 10px;
  background-color: rgb(29, 113, 184);
  color: #fff;
  border-radius: 20px;
  width: 80px;
}

.intro__container {
  padding-bottom: 60px;
}
.intro__title {
  font-size: 56px;
  color: #fff;
  margin-bottom: 20px;
}
.intro__subtitle {
  font-size: 24px;
  color: #fff;
}

h2 {
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.best-projects {
  background-color: #383737;
}
.best-projects__container {
  padding: 40px 0 0;
}
.swiper {
  padding: 30px 0 70px 0;
}
.swiper-slide {
  text-align: center;
}
.swiper-slide img {
  max-width: 100%;
}

.swiper-slide-next, .swiper-slide-prev {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.swiper-slide-active {
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.ways {
  height: 100%;
  background-color: #383737;
}
.ways__container {
  overflow: hidden;
}
.ways__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ways__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-right: 20px;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.ways__element:last-child {
  margin-right: 0;
  background-image: url("/img/image (2).png");
}
.ways__element-title {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  border-radius: 0 0 10px 10px;
}
.ways__element:first-child {
  background-image: url("/img/image (1).png");
}
.ways__element:nth-child(2) {
  background-image: url("/img/image (3).png");
}

.projects {
  background-color: #383737;
}
.projects__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects__row:first-child {
  margin-bottom: 40px;
}
.projects__element {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  height: 600px;
  margin-right: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.projects__row:first-child .projects__element:first-child {
  background-image: url("/img/image (5).png");
  background-position: center;
  background-size: cover;
}
.projects__row:first-child .projects__element:nth-child(2) {
  background-image: url("/img/image (8).png");
  background-position: center;
  background-size: cover;
}
.projects__row:first-child .projects__element:nth-child(3) {
  background-image: url("/img/image (14).png");
  background-position: center;
  background-size: cover;
}
.projects__row:first-child .projects__element:nth-child(4) {
  background-image: url("/img/image (17).png");
  background-position: center;
  background-size: cover;
}
.projects__row:last-child .projects__element:nth-child(1) {
  background-image: url("/img/image (13).png");
  background-position: center;
  background-size: cover;
}
.projects__row:last-child .projects__element:nth-child(2) {
  background-image: url("/img/image (16).png");
  background-position: center;
  background-size: cover;
}
.projects__row:last-child .projects__element:nth-child(3) {
  background-image: url("/img/image (12).png");
  background-position: center;
  background-size: cover;
}
.projects__row:last-child .projects__element:nth-child(4) {
  background-image: url("/img/image (15).png");
  background-position: center;
  background-size: cover;
}
.projects__element:last-child {
  margin-right: 0;
}
.projects__text {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.8);
}
.projects__element-title {
  text-align: center;
  font-size: 28px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}
.projects__element-subtitle {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #383737;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  margin-top: 0;
}
.footer__logo {
  display: block;
  cursor: pointer;
}

@media (max-width: 635px) {
  .ways__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1020px) {
  .container {
    padding: 40px 40px;
  }
  .ways__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .ways__element {
    margin-bottom: 30px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .best-projects__container {
    padding: 40px 0 0;
  }
  h2 {
    font-size: 36px;
  }
  .intro__title {
    font-size: 48px;
  }
  .intro__subtitle {
    font-size: 20px;
  }
}